@use "./fonts" as *;
@use "./variables" as *;

// breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// button design

@mixin button-properties {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    // color: $primary-white;
    // background-color: $primary-blue;
    border: none;
    border-radius: .25rem;
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
}