// screen size breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colours
$teal: #22A699;
$yellow: #F2BE22;
$orange: #F29727;
$red: #F24C3D;
$background-white: #FFFFFF;
$primary-black: #323232;