@use "../../styles/fonts" as *;
@use "../../styles/global" as *;
@use "../../styles//mixins" as *;
@use "../../styles/variables" as *;

.legend {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;

    width: 100%;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    &__title  {
        padding: 0.3rem 0;
        font-size: .875rem;
    }
}