@use "../../styles/fonts" as *;
@use "../../styles/global" as *;
@use "../../styles//mixins" as *;
@use "../../styles/variables" as *;

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;

    @include tablet {
        padding: 0 1rem;
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-around;
        width: 63.75rem;
    }


    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        width: 15rem;
        height: 25rem;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0 15px hsla(37, 39%, 62%, .702);
        overflow: hidden;
        background-color: antiquewhite;
        position: relative;

        @include tablet {
            width: 100%;
            height: 30rem;
        }

        @include desktop {
            width: 18.5rem;
            height: 32rem;
        }
    }

    &__quote-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;
        padding: 0 2.25rem;

    }

    &__avatar {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
        position: absolute;
        top: 55%;
        left: 33%;

        @include tablet {
            top: 55%;
            left: 44%;
            height: 6rem;
            width: 6rem;
        }

        @include desktop {
            top: 57%;
            left: 34%;
        }
        
    }

    &__author-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 35%;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgba(199, 31, 199, 0.801);
        color: $background-white;
    }

    &__orange {
        background-color: $orange;
    }

    &__yellow {
        background-color: $yellow;
    }
}